<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <script type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.5/bundles/datastar.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet"/>

    <style>
        html, body, pre, code, kbd, samp {
            font-family: "Press Start 2P", monospace;
        }
    </style>
</head>
<body>
<Routes/>
</body>
</html>