<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <script type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.3/bundles/datastar.js"></script>
</head>
<body>
<Routes/>
</body>
</html>